{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "compiler": "0.8.0",
        "tabWidth": 4,
        "useTabs": false,
        "printWidth": 240,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "endOfLine": "lf",
        "explicitTypes": "preserve"
      }
    }
  ]
}
